* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    display: flex;
}

.content-wrapper {
    padding: 60px 30px 30px 30px;
    flex: 1;
    background: #F9F9F9;
    overflow: scroll;
    height: calc(100vh - 70px);
}


.page-title {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    color: #000000;


}